demos/n8n/blog_gen.json
{
  "name": "Blog Generator (n8nDash Demo)",
  "nodes": [
    {
      "parameters": {
        "path": "blog_gen",
        "options": {
          "rawBody": true
        },
        "responseMode": "onReceived",
        "httpMethod": "POST"
      },
      "id": "Webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        260
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "job_id",
              "value": "={{$json[\"body\"].job_id}}"
            },
            {
              "name": "statusUrl",
              "value": "={{$json[\"body\"].callback.status}}"
            },
            {
              "name": "completeUrl",
              "value": "={{$json[\"body\"].callback.complete}}"
            },
            {
              "name": "sig",
              "value": "={{$json[\"headers\"][\"x-n8n-signature\"]}}"
            },
            {
              "name": "topic",
              "value": "={{$json[\"body\"].params.topic || 'AI for SMBs'}}"
            },
            {
              "name": "tone",
              "value": "={{$json[\"body\"].params.tone || 'Professional'}}"
            }
          ]
        }
      },
      "id": "Set Context",
      "name": "Set Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        520,
        260
      ]
    },
    {
      "parameters": {
        "url": "={{$json.statusUrl}}",
        "options": {
          "headers": {
            "parameters": [
              {
                "name": "X-N8N-Signature",
                "value": "={{$json.sig}}"
              }
            ]
          }
        },
        "jsonParameters": true,
        "optionsUi": {
          "body": {
            "parameters": [
              {
                "name": "job_id",
                "value": "={{$json.job_id}}"
              },
              {
                "name": "step",
                "value": "Outline (LLM)"
              },
              {
                "name": "progress",
                "value": 20
              },
              {
                "name": "message",
                "value": "Drafting sections"
              }
            ]
          }
        }
      },
      "id": "Status 20",
      "name": "Status 20",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        780,
        260
      ]
    },
    {
      "parameters": {
        "functionCode": "const title = `Blog: ${$json.topic}`; const summary='Simulated summary.'; const body=`# ${title}\\n\\n${summary}\\n- Point A\\n- Point B`; return [{ title, summary, body }];"
      },
      "id": "Simulate",
      "name": "Simulate",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        1000,
        260
      ]
    },
    {
      "parameters": {
        "url": "={{$json.completeUrl}}",
        "options": {
          "headers": {
            "parameters": [
              {
                "name": "X-N8N-Signature",
                "value": "={{$json.sig}}"
              }
            ]
          }
        },
        "jsonParameters": true,
        "optionsUi": {
          "body": {
            "parameters": [
              {
                "name": "job_id",
                "value": "={{$json.job_id}}"
              },
              {
                "name": "status",
                "value": "completed"
              },
              {
                "name": "result",
                "value": "={{ { title: $json.title, summary: $json.summary, body: $json.body } }}"
              }
            ]
          }
        }
      },
      "id": "Complete",
      "name": "Complete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1240,
        260
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Context": {
      "main": [
        [
          {
            "node": "Status 20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status 20": {
      "main": [
        [
          {
            "node": "Simulate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simulate": {
      "main": [
        [
          {
            "node": "Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false
}