demos/n8n/ig_caption.json
{
  "name": "IG Caption (n8nDash Demo)",
  "nodes": [
    {
      "parameters": {
        "path": "ig_caption",
        "options": {
          "rawBody": true
        },
        "responseMode": "onReceived",
        "httpMethod": "POST"
      },
      "id": "Webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        260
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "job_id",
              "value": "={{$json[\"body\"].job_id}}"
            },
            {
              "name": "statusUrl",
              "value": "={{$json[\"body\"].callback.status}}"
            },
            {
              "name": "completeUrl",
              "value": "={{$json[\"body\"].callback.complete}}"
            },
            {
              "name": "sig",
              "value": "={{$json[\"headers\"][\"x-n8n-signature\"]}}"
            },
            {
              "name": "product",
              "value": "={{$json[\"body\"].params.product || 'Demo Product'}}"
            },
            {
              "name": "style",
              "value": "={{$json[\"body\"].params.style || 'Hype'}}"
            }
          ]
        }
      },
      "id": "Set Context",
      "name": "Set Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        520,
        260
      ]
    },
    {
      "parameters": {
        "url": "={{$json.statusUrl}}",
        "options": {
          "headers": {
            "parameters": [
              {
                "name": "X-N8N-Signature",
                "value": "={{$json.sig}}"
              }
            ]
          }
        },
        "jsonParameters": true,
        "optionsUi": {
          "body": {
            "parameters": [
              {
                "name": "job_id",
                "value": "={{$json.job_id}}"
              },
              {
                "name": "step",
                "value": "Generating"
              },
              {
                "name": "progress",
                "value": 40
              },
              {
                "name": "message",
                "value": "Writing caption"
              }
            ]
          }
        }
      },
      "id": "Status 40",
      "name": "Status 40",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        780,
        260
      ]
    },
    {
      "parameters": {
        "functionCode": "const styles={Hype:['🔥','🚀','⚡'],Educational:['💡','📘','🧠'],Story:['✨','📖','🌟']}; const em=(styles[$json.style]||['⭐']).join(''); return [{ caption: `${em} ${$json.product}: Your next favorite thing. Tap to learn more! ${em}` }];"
      },
      "id": "Simulate",
      "name": "Simulate",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        1000,
        260
      ]
    },
    {
      "parameters": {
        "url": "={{$json.completeUrl}}",
        "options": {
          "headers": {
            "parameters": [
              {
                "name": "X-N8N-Signature",
                "value": "={{$json.sig}}"
              }
            ]
          }
        },
        "jsonParameters": true,
        "optionsUi": {
          "body": {
            "parameters": [
              {
                "name": "job_id",
                "value": "={{$json.job_id}}"
              },
              {
                "name": "status",
                "value": "completed"
              },
              {
                "name": "result",
                "value": "={{ { body: $json.caption } }}"
              }
            ]
          }
        }
      },
      "id": "Complete",
      "name": "Complete",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1240,
        260
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Context": {
      "main": [
        [
          {
            "node": "Status 40",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status 40": {
      "main": [
        [
          {
            "node": "Simulate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simulate": {
      "main": [
        [
          {
            "node": "Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false
}